#grid-container {
  display: grid;
  grid-template-rows: repeat(var(--grid-size), 1fr);
  grid-template-columns: repeat(var(--grid-size), 1fr);
  width: min-content;
}

.grid-item {
  border: 2px solid #444;
  height: 50px;
  width: 50px;
}

div[data-head = true]{
  background-color: red;
}

div[data-body = true]{
  background-color: yellow;
}

div[data-food = true]{
  background-color: green;
}
